
body {
    background: #ffffff;
}


header {
    display: flex;
    /*position: relative;*/
    width: 100%;
    text-align: center;
    /*overflow: hidden;*/
    background-color: white;
}

header .start-scan {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    min-width: 100%;
    padding: 10px 10px 40px;
}

/* header enter data */

header .enter-data {
    display: flex;
    flex-direction: column;
    border: 2px solid #6873D8;
    max-height: 300px;
    align-items: center;
}

.do {
    padding-left: 97px;
}
.target {
 padding-left:20px;
}

.wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
}

#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    outline-offset: -12px;
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    color: #1f3c44;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
}
#upload-container:hover {
    border-color: rgb(104, 115, 216);
}

.img-container {
    margin-bottom: 10px;
    font-size: 32px;
    color: #4e4e4e;
    user-select: none;
}

#upload-container label {
    display: none;
}

#upload-container p {
    color: #4e4e4e;
    cursor: pointer;
}


#upload-container div {
    position: relative;
    z-index: 10;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}


header .source {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

header .enter-data .run {
    padding: 20px;

}

header .enter-data .play {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

header .enter-data .enter-left,
header .enter-data .enter-right {
    display: flex;
    justify-content: start;
    flex-direction: column;
    /*text-align: center;*/
    max-height: 250px;
    align-items: center;
}

header .enter-data .enter-right {

}

header .enter-data .enter-left .title-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

header .enter-data .enter-left .title-select > p {
    margin-top: 32px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #000000;

}

header .enter-data .enter-left .ip {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 5px 5px 0 5px;

}

header .enter-data .enter-left .ip-file {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0 20px 15px 5px;
    padding-left: 29px;
}



.terminalCase {
    /*display: flex;*/
    /*justify-content: center;*/
    /*width: 100%;*/
}

.terminalCase p {
    /*color: #fff;*/
}

header .enter-data .enter-left .ip input,
header .enter-data .enter-left .ip-file input {
    background: #FFFFFF;
    border: 2px solid #6873D8;
    box-sizing: border-box;
    width: 150px;
    height: 15px;
    margin: -8px 10px 0;
    color: black;
}

header .enter-data .enter-left .ip input:disabled,
header .enter-data .enter-left .ip-file input:disabled {
    background: #cecece;
    border: 2px solid #cecece;
}

header .enter-data .enter-left .ip-file input {
    margin-top: 4px;
}

/*header .enter-data .enter-left .ip:first-of-type input {*/
/*    margin-left: 20px;*/

/*}*/
header .enter-data .enter-left .ports {
    margin-left: 43px;
}

header .enter-data .enter-left .nmap {
    margin-left: 8px;
}

header .enter-data .enter-left .ports:first-of-type {
    padding-top: 48px;
}

header .enter-data .enter-left .ip input:hover,
header .enter-data .enter-left .ip input:focus,
header .enter-data .enter-left .ip-file input:hover,
header .enter-data .enter-left .ip-file input:focus {
    background: #eeeeee;
    color: black;
    text-align: center;
}

header .enter-data .enter-left .ip p,
header .enter-data .enter-left .ip-file p {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #000000;
}

header .enter-data .enter-left .ip-file p {
    margin-top: 10px;
}

header .enter-data .enter-right p span {
    font-weight: bold;
}

header .enter-data .enter-left .ip p span,
header .enter-data .enter-left .ip-file p span {
    font-weight: bold;
}



/* header methods */

header .methods {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /*margin-top: 5px;*/
}

.method, .ip-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 110px;
}

.method {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #000000;
}

.method p {
    margin: 0 0 5px 5px;
}

.radio, .check {
    display: none;
}

.radio-custom {
    width: 19px;
    height: 19px;
    border: 1px solid #6873D8;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;

}

.checkbox-custom {
    width: 16px;
    height: 16px;
    border: 1px solid #6873D8;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

input[type=radio]:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background: #191eab;
    border-radius: 50%;
}

input[type=checkbox]:checked + .checkbox-custom::before {
    content: '\2714';
    position: absolute;
    top: -6px;
    left: 0;
    font-size: 18px;
    color: #191eab;
}

input[type=checkbox]:checked + .checkbox-custom,
input[type=radio]:checked + .radio-custom {
    border: 1px solid #6873D8;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}


/* primary navigation
--------------------------------------------------------------------- */

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
#nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 10px;
}

.opaque {
    background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
    display: none;
}

ul#nav {
    min-height: 28px;
    width: auto;
    background-color: #ececec;
    /* center align the menu */
    text-align: center;
    padding-bottom: 10px;
}

ul#nav li {
    position: relative;
    list-style: none;
    height: 28px;
    display: inline-block;
}

/* Links */
ul#nav li a {

    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #6873D8;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

ul#nav li a:active {
    background-color: transparent !important;
}

ul#nav li.current a {
    color: #6873D8;
    padding-bottom: 9px;
}

/* ------------------------------------------------------------------ */
/* c. graph Section
/* ------------------------------------------------------------------ */

#sample {
    padding-left: 10px;
    background-color: #fff;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
}

/* ------------------------------------------------------------------ */
/*  exploit place
/* ------------------------------------------------------------------ */
.exploit-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
#exploit {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(212, 57, 62, 0.85);
}

#exploit .ip {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#exploit .exploit-play {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

#exploit-status {
    margin-left: 30px;
    margin-top: 5px;
}

#exploit .ip input {
    background: #FFFFFF;
    border: 2px solid rgba(212, 57, 62, 0.85);
    box-sizing: border-box;
    width: 169px;
    height: 15px;
    margin: -8px 10px 0;
    color: black;
}

#exploit .ip p {
     font-family: Roboto Condensed, sans-serif;
     font-style: normal;
     font-weight: normal;
     line-height: normal;
     font-size: 14px;
     color: #000000;
     margin-top: 32px;
     margin-left: 16px;
 }

#exploit .ip span {
    font-family: Roboto Condensed, sans-serif;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 32px;
    margin-left: 16px;
}

.exploit-service {
    margin-left: 25px;
}

#exploit .enter-title {
    margin-top: 10px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #000000;
}

.downs {
    margin-top: 15px;
}






.App {
    background-color: #fff;
}



.terminalCase {
    margin-top: 50px;
}







/*  Scanner start place    */

.start-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}




#scanner-start {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #6873D8;
    margin: 200px 300px 100px 300px;
    padding: 20px;
}

#scanner-start .left-right-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#scanner-start .left-right-container .start-left {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#scanner-start .left-right-container .start-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 50px;
    align-items: center;
}

#scanner-start .ip {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
#scanner-start .left-right-container .start-right > p {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #000000;
    margin-bottom: 5px;
}

#scanner-start .ip p {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #000000;
    margin-top:7px;
}

#scanner-start .ip input {
    background: #FFFFFF;
    border: 2px solid #6873D8;
    box-sizing: border-box;
    width: 169px;
    height: 15px;
    margin: 0 10px;
    color: black;
}

#scanner-start .ip input:hover {
    background: #f9f9ff;
    border: 2px solid #6873D8;
}

#scanner-start .ip input:focus {
    background: #f9f9ff;
    border: 2px solid #6873D8;
}

#scanner-start > p {
    padding-top: 20px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #000000;
    margin-bottom: 20px;
}


#scanner-start .scanner-start-play {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

#scanner-start-status {
    margin-left: 30px;
    margin-top: 5px;
}
